/* font-family: 'DM Sans', sans-serif; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

@media (min-width: 400px) {
  html {
    font-size: 75%;
  }
}

img {
  width: 100%;
}

.icon {
  width: 2.4rem;
  height: auto;
}

a {
  text-decoration: none;
  display: inline-block;
}
ul {
  list-style: none;
}

.nav {
  display: none;
}

.mobilenav__container {
  height: 2.4rem;
  width: 2.4rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}

.mobilenav--bar {
  width: 1.6rem;
  height: 0.3rem;
  background-color: #000;
  display: inline-block;
}

body {
  background-image: linear-gradient(to bottom right, #ecccf7, #fff);
}

/* Header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 1.3rem;
  padding-bottom: 3.9rem;
}

.logo {
  width: 9.7rem;
  height: auto;
}

/* Hero section */

.hero {
  padding: 0 1.3rem;
}
.hero__img {
  padding: 0 1.2rem;
  margin-bottom: 2.8rem;
}
.hero__main {
  margin-bottom: 11.2rem;
}
.hero__text {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: 'DM Sans', sans-serif;
  margin-bottom: 1rem;
  color: #6b6b6b;
}
.user-avatars {
  width: 15rem;
  height: auto;
  margin-bottom: 0.5rem;
}
.hero__text--highlight {
  color: #664efc;
  font-weight: 700;
}

/* Headings */
.heading {
  font-family: 'DM Sans', sans-serif;
  color: #000;
  font-weight: 700;
}
.heading--primary {
  font-size: 3.7rem;
  line-height: 40px;
  margin-bottom: 1rem;
}
.heading--secondary {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.heading--tertiary {
}

/* Buttons */
.btn {
  font-family: 'DM Sans', sans-serif;
}
.btn--primary:link,
.btn--primary:visited {
  padding: 1.2rem 1.6rem 1.5rem 1.6rem;
  background-color: #664efc;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  border-radius: 0.5rem;
  outline: 1px solid #664efc;
  outline-offset: -1px;
  transition: color ease-in-out 200ms;
  transition: background-color ease-in-out 240ms;
  margin-bottom: 2.1rem;
}
.btn--primary:hover,
.btn--primary:active {
  background-color: #fff;
  color: #664efc;
}

.btn__title--bold {
  font-weight: 700;
}
.btn--secondary:link,
.btn--secondary:visited {
  color: #664efc;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
}
.icon--arrow {
  width: 1rem;
}

/* Feed */
.feed {
  padding: 0 1.4rem;
}
.feed__resources {
  margin-bottom: 4rem;
}
.feed__social-icons {
  margin-bottom: 2.1rem;
}

.feed__text {
  font-family: 'DM Sans', sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  color: #6b6b6b;
  line-height: 1.8rem;
  margin-bottom: 0.6rem;
}

.phone-mockup {
  /* width: 18rem; */
  padding: 0 3.3rem;
  margin: 0 auto;
  margin-bottom: 4rem;
}
